<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between">
        <a routerLink="home" class="text-white hover:text-gray-400">Home</a>
        <a routerLink="products" class="text-white hover:text-gray-400">Productos</a>
        
        <a *ngIf="!rol" routerLink="login" class="text-white hover:text-gray-400">Login</a>
        <a *ngIf="!rol" routerLink="register" class="text-white hover:text-gray-400">Register</a>

        <a *ngIf="rol" routerLink="perfil" class="text-white hover:text-gray-400">Perfil</a>
        <button class="text-white hover:text-gray-400" (click)=" logout()">Logout</button>

        <a routerLink="carrito" class="text-white hover:text-gray-400">Carrito</a>

    </div>
</nav>